<ion-item
  lines="none"
  class="flex items-center w-full rounded-lg shadow bg-white"
>
  <!-- <figure class="mr-4">
    <img class="" [src]="'assets/svgs/' + iconUrl" alt="Icono" />
  </figure> -->
  <ion-avatar class="mr-3">
    <figure class="mr-4">
      <img [src]="'assets/svgs/' + iconUrl" alt="logo" />
    </figure>
  </ion-avatar>
  <div class="felx flex-col">
    <h3 class="text-sm font-semibold">
      {{ reservation.first_name + " " + reservation.last_name | titlecase }}
    </h3>
    <p class="text-sm">
      Autorización:
      <span>
        {{ reservation.alpr_authentication ? "Activa" : "Inactiva" }}
      </span>
    </p>
    <p class="text-sm">Ingreso: {{ reservation.start_date | date }}</p>
  </div>
  <ion-buttons class="mr-4" slot="end" class="flex flex-col">
    <ion-button (click)="onEdit()">
      <img slot="icon-only" src="assets/svgs/edit.svg" alt="" />
    </ion-button>
    <ion-button (click)="deleteReservation()">
      <img slot="icon-only" src="assets/svgs/trash.svg" alt="" />
    </ion-button>
  </ion-buttons>
</ion-item>
