<ion-item
  lines="none"
  class="visitor-card flex items-center w-full rounded-lg shadow bg-white"
>
  <ion-avatar class="mr-3">
    <img src="assets/svgs/avatar.svg" />
  </ion-avatar>
  <div class="felx flex-col">
    <h3 class="text-sm font-semibold">
      {{ visitor.fullname | titlecase }}
    </h3>
    <p class="text-sm">
      Teléfono:
      <span>
        {{ visitor.phone }}
      </span>
    </p>
    <p class="text-sm">Correo: {{ visitor.email }}</p>
  </div>
  <ion-buttons class="mr-4" slot="end" class="flex flex-col">
    <ion-button (click)="onUpdateVisitor()">
      <img slot="icon-only" src="assets/svgs/edit.svg" alt="" />
    </ion-button>
    <ion-button (click)="onDeleteVisitor()">
      <img slot="icon-only" src="assets/svgs/trash.svg" alt="" />
    </ion-button>
  </ion-buttons>
</ion-item>
