<ion-header class="ion-nor-border" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>Cerrar</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Residencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex flex-col h-full items-center">
    <div class="w-full flex justify-center items-center h-1/3">
      <figure>
        <img src="/assets/logos/logo.png" alt="" />
      </figure>
    </div>

    <ion-list
      class="flex flex-col w-full max-w-[340px] gap-4 items-center justify-center bg-transparent"
      lines="none"
    >
      @for(building of buildings(); track building.id) {
      <div
        class="w-full border-2 border-transparent"
        [ngClass]="{ isSelected: (buildingSelected$ | async) === building.id }"
        (click)="SelectBuilding(building.id)"
      >
        <ion-item
          pRipple
          lines="none"
          class="flex items-center w-full rounded-lg ion-no-padding shadow bg-white"
        >
          <div
            class="flex items-center justify-center w-full rounded-lg relative px-5"
          >
            <figure class="mr-4">
              <img src="assets/svgs/logo-small.svg" alt="logo" />
            </figure>
            <p class="text-sm font-medium">{{ building.name }}</p>
          </div>
        </ion-item>
      </div>
      }
    </ion-list>
  </div>
</ion-content>
