<ion-tabs mode="ios">
  <!-- <ion-tabs> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <fa-icon [icon]="faHouse" />
      Home
    </ion-tab-button>
    <!-- <ion-tab-button tab="">
        <fa-icon [icon]="faUsers" />

        Visitantes
      </ion-tab-button> -->
    <ion-tab-button tab="reserve">
      <fa-icon [icon]="faCalendarDays" />

      Reservar
    </ion-tab-button>
    <ion-tab-button tab="reservations">
      <fa-icon [icon]="faCalendarCheck" />

      Mis reservas
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <fa-icon [icon]="faUser" />

      Mi perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
