<ion-content [fullscreen]="true">
  <ion-header mode="md" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="close()" expand="block" fill="clear" shape="round">
          Cancelar
          <ion-icon slot="start" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="flex flex-col items-center justify-between gap-4 px-4 mt-5">
    <figure>
      <img src="assets/logos/logo-small.png" alt="logo" />
    </figure>
    <h4 class="text-base font-normal">Editar reservación</h4>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list
      lines="none"
      class="ion-no-padding"
      class="flex flex-col items-center w-full py-6 md:w-1/3 lg:w-1/4 md:mx-auto h-4/12 h-4/12 bg-transparent"
    >
      <div class="px-6 flex flex-col mt-4 gap-4 w-full">
        <div class="flex justify-between items-center gap-1">
          <ion-item class="custom-select w-[85%]">
            <ion-select
              formControlName="visitorSelected"
              mode="ios"
              label="Visitante"
              label-placement="fixed"
              placeholder="Elige un visitante"
            >
              @for(visitor of visitors(); track visitor.id) {

              <ion-select-option [value]="visitor.legal_id">{{
                visitor.fullname | titlecase
              }}</ion-select-option>

              }
            </ion-select>
          </ion-item>
          <ion-button
            (click)="addVisitor()"
            class="w-[15%] h-[48px]"
            color="primary"
            mode="ios"
            shape="round"
          >
            <ion-icon
              slot="icon-only"
              class="text-2xl"
              name="add-circle-outline"
            ></ion-icon>
          </ion-button>
        </div>
        <p>Fecha inicio</p>
        <ion-datetime-button
          class="mr-auto"
          datetime="datetime"
          chan
        ></ion-datetime-button>
        <p>Fecha fin</p>
        <ion-datetime-button
          class="mr-auto"
          datetime="datetime2"
        ></ion-datetime-button>
        <app-select
          formControlName="typeSelected"
          [options]="reservationTypes"
          placeholder="Tipo de reservación"
        >
        </app-select>

        <div class="flex justify-between items-center mb-4">
          <span>¿Tiene Vehículo?</span>

          <ion-radio-group class="flex gap-3" formControlName="hasVehicle">
            <ion-radio [value]="true">Si</ion-radio><br />
            <ion-radio [value]="false">No</ion-radio><br />
          </ion-radio-group>
        </div>
        @if(form.get('hasVehicle')?.value) {

        <app-input
          formControlName="car_plate"
          placeholder="Placa del Vehículo"
        ></app-input>

        }

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              formControlName="start_date"
              id="datetime"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              formControlName="end_date"
              id="datetime2"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      <!-- </div> -->
      <ion-button
        type="submit"
        mode="ios"
        class="text-white mt-4"
        expand="block"
        [disabled]="
          !form.valid ||
          (form.get('hasVehicle')?.value &&
            !form.get('car_plate')?.value.trim())
        "
      >
        Editar reserva
      </ion-button>
    </ion-list>
  </form>
</ion-content>
