.input-container {
  // margin-bottom: 10px;

  .input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid;
    @apply border border-gray-600;
    border-radius: 7px;
    padding: 5px;
    transition: border-color 0.3s ease;
    height: 35px;
    padding: 0 20px;
    &.inputFocus {
      @apply border-black;
    }
  }
}

ion-input {
  flex: 1;
  text-align: left;
  font-size: 16px;
  height: 35px;
}

ion-icon {
  color: #1a1919;
  margin-left: 10px;
  font-size: 1.2em;
}
