:host {
  width: 100%;
  max-width: 350px;
}

figure {
  img {
    width: 26px;
  }
}

ion-item {
  width: 100%;
  height: 56px;
  --padding-start: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
}
