<ion-content class="ion-padding" [fullscreen]="true">
  <div class="w-full flex flex-col gap-4 items-center mt-10 mb-5">
    <figure>
      <img class="mx-auto" src="assets/logos/logo-title.png" alt="logo-title" />
    </figure>
    <h2 class="text-sm md:text-base font-semibold">Nombre de la Residencia</h2>
  </div>
  <section class="flex flex-col items-center">
    <div class="card shadow">
      <div class="card-image">
        <img src="assets/images/card-background.jpeg" alt="Card Image" />
      </div>
      <div class="card-content">
        <h2>Has tus reservas de manera fácil y rápida</h2>
        <ion-button mode="ios" color="light" fill="outline">
          Reservar ahora
        </ion-button>
      </div>
    </div>

    <div
      class="active-reservations shadow w-full max-w-[350px] py-5 bg-white rounded-lg text-center my-5"
    >
      <p class="text-sm font-medium">
        Reservas Activas <span class="font-bold">{{activeReservations}}</span>
      </p>
    </div>

    <div class="card shadow">
      <div class="card-image">
        <img src="assets/images/card-background2.jpeg" alt="Card Image" />
      </div>
      <div class="card-content">
        <h2>Comparte tus reservas con tus invitados</h2>
        <ion-button mode="ios" color="light" fill="outline">
          Ver Reservas
        </ion-button>
      </div>
    </div>
  </section>
</ion-content>
