<ion-content [fullscreen]="true">
  <ion-header mode="md" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="tabs/reserve"
          icon="assets/icon/chevron-back.svg"
        />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="flex flex-col items-center justify-between gap-4 px-4 mt-5">
    <figure>
      <img src="assets/logos/logo-small.png" alt="logo" />
    </figure>
    <h2 class="text-xl font-extrabold mb-1">Reserva para {{title}}</h2>
    <h4 class="text-base font-normal">Nueva Reservación</h4>
  </div>
  <app-form />
</ion-content>
