<ion-content class="" [fullscreen]="true">
  <div class="h-full w-full flex items-center justify-around flex-col p-6">
    <figure class="mt-16">
      <img src="assets/svgs/logo.svg" alt="logo" />
    </figure>
    <div class="flex items-center justify-center flex-col my-auto gap-4">
      <h3 class="text-xl font-extrabold text-center w-[210px]">
        Tu reserva fue creada satisfactoriamente
      </h3>
      <figure>
        <img src="assets/svgs/smile.svg" alt="" />
      </figure>
      <ion-button (click)="close()" mode="ios" class="text-white">
        Ver mi reserva
      </ion-button>
    </div>
    <p class="mt-auto text-center text-xs font-light">
      Puedes editar o eliminar tus reserva siempre y cuando las políticas de
      condominio lo permita.
    </p>
  </div>
</ion-content>
