<div
class="flex flex-col items-center justify-between gap-4 mt-11 mb-3 pt-4 px-4"
>
<figure>
  <img src="assets/logos/logo-small.png" alt="logo" />
</figure>
<h2 class="text-xl font-extrabold mb-1">Visitantes</h2>
</div>

<div mode="ios" lines="none" class="px-4">
  <ion-searchbar
  mode="ios"
  placeholder="Busca un visitante"
  [(ngModel)]="search"
  (ionInput)="onSearch()"
  ></ion-searchbar>
</div>
<app-tab-buttons></app-tab-buttons>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-custom-visitor-tabs
    [isLoading]="isLoading()"
    [skeletonItems]="skeletonItems"
    [permanentVisitorsTemp]="permanentVisitorsTemp()"
    [temporalVisitorsTemp]="temporalVisitorsTemp()"
    [permanentVisitorsCount]="permanentVisitors().length"
    [temporalVisitorsCount]="temporalVisitors().length"
    [faUsers]="faUsers"
    (createVisitor)="createVisitor()"
    (scroll)="onScroll($event)"
  ></app-custom-visitor-tabs>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="createVisitor()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
